<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".Main"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:replace="android:name"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name=".activities.load.Load"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.chapterSwitcher.ChapterSwitcher"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.textcinematic.TextCinematic"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.main.Main"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.choice.Choice"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.phone.homescreen.HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.phone.photos.PhotosScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.phone.sound.SoundScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.phone.sms.SmsScreen"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".activities.poetry.Poetry"
            android:screenOrientation="portrait"
            android:theme="@style/MenuTheme" />
    </application>

</manifest>