<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <activity
            android:name="fr.purpletear.sutoko.shop.shop.ShopActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SmsGameActivity2"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>